$body-bg: #3e3e3e;
    
.card-img-top{
    height: 300p;
    object-fit: cover;
}

article.card{
    border: none;
}

.card-body{
    background-color: black;
    color: white;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";



// .card{
//     width: 15vw;
//     height: 35vw;
// }